<ion-header no-border>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaulHref=""></ion-back-button>
        </ion-buttons>

        <ion-title>Nombre de la lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-checkbox slot="start" color="tertiary"></ion-checkbox>
            <ion-label>Recordar comer hoy</ion-label>
        </ion-item>
    </ion-list>

</ion-content>